# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/

# ===============================
# Jupyter / Colab
# ===============================
.ipynb_checkpoints/
*.ipynb_checkpoints

# ===============================
# Model files (optional)
# ===============================
*.pth
*.pt

# ===============================
# Dataset / Large files
# ===============================
data/
dataset/
wafer_dataset/
kaggle/
*.zip
*.tar.gz

# ===============================
# Logs & Outputs
# ===============================
logs/
runs/
*.log

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# Colab specific
# ===============================
content/
